@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url('./NotoSansKR-Light.woff') format('woff');
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: normal;
  src: url('./NotoSansKR-Regular.woff') format('woff');
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('./NotoSansKR-Medium.woff') format('woff');
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: bold;
  src: url('./NotoSansKR-Bold.woff') format('woff');
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: lighter;
  src: url('./NotoSansKR-Thin.woff') format('woff');
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('./Roboto-Light.woff') format('woff');
  unicode-range: U+26;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('./Roboto-Regular.woff') format('woff');
  unicode-range: U+26;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./Roboto-Medium.woff') format('woff');
  unicode-range: U+26;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: url('./Roboto-Bold.woff') format('woff');
  unicode-range: U+26;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: lighter;
  src: url('./Roboto-Thin.woff') format('woff');
  unicode-range: U+26;
}
